    :root {
        --primary-font: "SoDoSans-Regular";
        --secondary-font: "SoDoSans-SemiBold";
        --tertiary-font: "AbyssinicaSIL-Regular";
        --header-text-color: #000000;
        --main-text-color: #332323;
        --orange: #FFA371;
        --red: #730000;
        --background-color: #fff1e4;
        --black: #000000;
        --white: #ffffff;

    }

    .btn {
        width: 18.5rem;
        height: 7rem;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--secondary-font);
        font-weight: 600;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
    }

    .order-menu-orange {
        background-color: #FF8B4D;
    }

    .order-menu-red {
        background-color: #730000;
    }

    html {
        font-size: 10px;
    }

    body {
        font-family: "SoDoSans-Regular";
        font-size: 1.5rem;
        line-height: 1.5;
        background-color: var(--background-color);
    }

    .header {
        width: 100%;
        background-color: var(--orange);
        padding: 3.5rem 0;
    }

    .nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-nav {
        display: flex;
        align-items: center;
    }

    .left-nav__app-logo {}

    .menu {
        display: flex;
    }

    .menu__item {
        font-size: 2rem;
        margin-right: 2rem;
        list-style: none;
        cursor: pointer;
        position: relative;
    }

    .menu__link {
        text-decoration: none;
        color: var(--header-text-color);
        transition: all 400ms;
    }

    .menu__link:hover {
        color: #A80000;
    }

    .menu__link::before {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        border-radius: 5rem;
        background-color: var(--red);
        width: 0;
        height: 0.3rem;
        transition: all 400ms;
    }

    .menu__link:hover::before {
        width: 100%;
    }

    .right-nav {
        display: flex;
        align-items: center;
    }

    .right-nav__btn-wrapper {
        margin-right: 2.5rem;
        display: flex;
        align-items: center;
        font-weight: 600;
    }

    .nav__search-btn {
        text-decoration: none;
        color: var(--header-text-color);
        width: 21rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000000;
        border-radius: 5rem;
        margin-right: 2rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 800ms;
    }

    .nav__search-btn:hover {
        border: #ffffff solid 1px;
    }

    .nav__search-btn::before {
        content: "";
        background-color: #fff1e4;
        width: 0;
        height: 100%;
        position: absolute;
        z-index: -1;
        transition: all 400ms;
        border-radius: 5rem;
    }

    .nav__search-btn:hover:before {
        width: 100%;
        height: 100%;
    }

    .nav__search-btn {}

    .search-icon {}

    .nav__order-btn {
        width: 15rem;
        height: 5rem;
        background-color: var(--black);
        border-radius: 5rem;
        color: var(--white);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 400ms;
        border: 0px solid var(--red);
    }

    .nav__order-btn:hover {
        background-color: transparent;
        border: 1px solid var(--black);
        color: var(--black);
    }

    .right-nav__shop-icon {
        cursor: pointer;
        margin-right: 2.5rem;
    }

    .nav__toggle-icon {
        width: 5rem;
        height: 5rem;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .nav__toggle-line {
        background-color: #A80000;
        width: 4.5rem;
        height: 0.5rem;
        border-radius: 5rem;
        position: relative;
        transition: all 200ms;
    }

    .nav__toggle-icon--active .nav__toggle-line {
        background-color: transparent;
    }


    .nav__toggle-line::before,
    .nav__toggle-line::after {
        content: "";
        background-color: #A80000;
        width: 4.5rem;
        height: 0.5rem;
        border-radius: 5rem;
        position: absolute;
        transition: all 180ms;
    }

    .nav__toggle-line::before {
        top: 1.2rem;
    }

    .nav__toggle-line::after {
        bottom: 1.2rem;
    }

    .nav__toggle-icon--active .nav__toggle-line::before {
        transform: translateY(-12px) rotate(-45deg);
    }

    .nav__toggle-icon--active .nav__toggle-line::after {
        transform: translateY(12px) rotate(45deg);
    }

    .mobile-nav-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -30rem;
        width: 30rem;
        background-color: #C3B2A2;
        padding: 2rem;
        transition: all 180ms;
        z-index: 100;
    }

    .nav__toggle-menu--show {
        left: 0;
    }

    .mobile_menu {
        padding: 0;
    }

    .mobile_menu__item {
        list-style: none;
        margin-top: 3rem;
    }

    .mobile_menu__item:first-child {
        margin-top: 0;
    }

    .mobile_menu__link {
        text-decoration: none;
        color: #000000;
        position: relative;
        transition: all 400ms;
    }

    .mobile_menu__link:hover {
        color: #A80000;
    }

    .mobile_menu__link::before {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        border-radius: 5rem;
        background-color: var(--red);
        width: 0;
        height: 0.3rem;
        transition: all 400ms;
    }

    .mobile_menu__link:hover:before {
        width: 100%;
    }

    .mobile-nav__right {
        display: flex;
        flex-direction: column;
    }

    .mobile-nav__btn-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .mobile-nav__btn {
        text-decoration: none;
        color: #000000;
        border: solid 1px #000000;
        padding: 1rem;
        text-align: center;
        border-radius: 3rem;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 1px solid #000000;
        transition: all 800ms;
    }

    .mobile-nav__btn:hover {
        border: solid 1px #ffffff;
    }

    .mobile-nav__btn::before {
        content: "";
        background-color: #fff1e4;
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all 400ms;
        border-radius: 5rem;
    }

    .mobile-nav__btn:hover:before {
        width: 100%;
        height: 100%
    }

    .mobile-nav__icon-wrapper {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 3rem;
        cursor: pointer;
    }

    .main {}

    .description {
        margin-top: 10rem;
    }

    .description__wrapper {
        display: flex;
    }

    .description_left {
        background-color: #FF8B4D;
        flex-basis: 45%;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description__right {
        flex-basis: 55%;
    }

    .description__left__text {
        font-size: 5rem;
        font-weight: 600;
        font-family: var(--secondary-font);
        color: var(--white);
        text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 25%);
        max-width: 44rem;
    }

    .description__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }

    .order {
        margin-top: 10rem;
    }

    .order__wrapper {
        color: var(--main-text-color);
    }

    .order__main-caption {
        font-family: var(--secondary-font);
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
        line-height: 1.5;
        margin-bottom: 8rem;
    }

    .order__content {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
        max-width: 38rem;
    }

    .order__content__title {
        font-family: var(--tertiary-font);
        font-weight: 400;
        font-size: 2.4rem;
        margin: 0;
    }

    .order__content__wrapper {
        font-family: var(--primary-font);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .order__content__img {}

    .order__content__caption {}

    .order__btn {
        margin-top: 8rem;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    .order__link {
        background-color: #FF8B4D;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 600;
        color: var(--white);
        letter-spacing: 0.1rem;
    }

    .color-border {
        border: solid 1px var(--main-text-color);
        background-color: transparent;
        color: var(--main-text-color);
    }

    .order-menu {
        margin-top: 10rem;
    }

    .order-menu__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .order-menu__pic {}

    .order-menu__pic__img {
        width: 100%;
        height: 100%;
    }

    .order-menu__content {
        padding: 5rem;
        font-family: var(--tertiary-font);
        color: var(--white);
        letter-spacing: 0.1rem;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .order-menu__content__title {
        margin: 0;
        font-size: 4rem;
        font-weight: lighter;
    }

    .order-menu__content__caption {
        font-size: 2.3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .order-menu__content__btn {
        border: none;
        color: var(--white);
        cursor: pointer;
        font-weight: lighter;
        font-size: 2rem;
        font-family: var(--primary-font);
        margin-top: auto;
    }

    .map {
        margin-top: 3rem;
    }

    .map__wrapper {
        display: flex;
    }

    .map__content {
        background-color: #FF8B4D;
        flex-basis: 35%;
        padding: 6rem;
        color: var(--white);
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
    }

    .map__content__title {
        font-size: 4rem;
        font-family: var(--tertiary-font);
        font-weight: 400;
        margin: 0;
    }

    .map__content__caption {
        font-family: var(--tertiary-font);
        font-weight: 400;
        font-size: 2.3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .map__content__btn {
        margin-top: auto;
        border: none;
        color: var(--white);
        cursor: pointer;
        font-weight: lighter;
        font-size: 2rem;
        font-family: var(--primary-font);
    }

    .map__pic {
        flex-basis: 65%;
    }

    .map__pic__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }