@media screen and (max-width: 1400px) {
    .nav__search-btn {
        width: 18rem;
        font-size: 1.3rem;
    }

    .search-icon {
        width: 2rem;
        height: 2rem;
    }

    .nav__order-btn {
        width: 12rem;
        font-size: 1.3rem;
    }

    .menu__item {
        font-size: 1.8rem;
    }

    .description__left__text {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1200px) {
    .right-nav__btn-wrapper {
        display: block;
        margin: 0;
    }

    .nav__search-btn {
        margin-bottom: 0.5rem;
    }

    .right-nav__icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .right-nav__shop-icon {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {

    .right-nav__btn-wrapper {
        display: none;
    }

    .right-nav__icon-wrapper {
        display: none;
    }

    .description__wrapper {
        flex-direction: column;
    }

    .description_left {
        flex-basis: auto;
        border-top-right-radius: 0.8rem;
        border-bottom-left-radius: 0;
    }

    .description__img {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        border-top-right-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobile-nav-menu {
        display: flex;
    }

    .nav__toggle-icon {
        display: flex;
    }
}

@media screen and (max-width: 576px) {}